<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/static/estilos.css">
	<title>Exemplo de envio de formulário com o método POST</title>
</head>
<body>
	<form method="POST">
		<div>
			<label for="tx-usuario">Usuário:</label><br>
			<input type="text" name="usuario" id="tx-usuario">
		</div>
		<div>
			<label for="tx-senha">Senha:</label><br>
			<input type="password" name="senha" id="tx-senha">
		</div>
		<button type="submit">Enviar</button>
	</form>
</body>
</html>